# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
env/

# VS Code
.vscode/

# Environment
.env

# Data files
data/raw/
data/processed/*.xlsx

# Keep processed CSVs only if needed for project demo
# data/processed/*.csv

# Temporary files
*.tmp
*.log

# OS
.DS_Store
Thumbs.db